html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

/* hero */
#hero {

    background-image: url(../img/orang-biru.png), url(../img/orang-kuning.png), url(../img/orang-merah.png), url(../img/planet-merah.png), url(../img/planet-biru.png), url(../img/planet-kuning.png), url(../img/Bintang-blur.png);
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-position: center center;
    background-attachment: fixed;
}

.gradient {
    background: linear-gradient(90deg, rgba(27, 23, 48, 1) 0%, rgba(9, 51, 65, 1) 100%) !important;
    background-attachment: fixed;

}

li .nav-link {
    color: #fff !important;
    /* font-weight: bold; */
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
}

.content h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;

}

.content h2 span {
    font-weight: bold;
}

.content .btn {
    width: 170px;
    margin-top: 15px;
}

/* akhir hero */

/* about */
.container {
    /* width: 1366px !important; */
}

#about {
    font-family: 'Montserrat', sans-serif;
    padding: 100px 0 100px 0;
}

#about img {
    padding-top: 50px;
}

#about .about {
    text-align: end;
    padding-top: 170px;
}

/* akhir about */


/* services */

#services {
    padding: 0 0 150px 0;
}

#services .service {
    padding: 40px;

}

#services p {
    margin: 10px 0 10px 0;
}


#services .icon {
    height: 60px;
    width: 60px;
    /* margin: 40px 0 0 40px; */
    font-size: 0.5rem;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 22px;
    position: relative;
}

/* banner */

#banner {
    height: 430px;
    background: linear-gradient(to bottom, #fff 50%, #F2F2F2 50%);
    ;
}

#banner .banner {
    height: 430px;
    width: 1169px;
    border-radius: 20px;
    background-image: url(../img/banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

#banner .btn {
    width: 170px;
    margin-top: 15px;
}

/* testimonial */

#testimonial {
    height: 589px;
    padding: 120px 0 100px 0;
    background: #F2F2F2;
}

#testimonial .photo {
    height: 130px;
    width: 130px;
    background-size: cover;
    background-position: center center;
}

#testimonial .testimonial-item {
    width: 50%;
    margin: auto;
}

#testimonial .carousel-indicators {
    top: 350px;
}

#testimonial .carousel-indicators li {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
    background-color: #C4C4C4;
}

/* clients */

#clients {
    height: 289px;
    padding: 120px 0 100px 0;
    background: #F2F2F2;
}

/* Developers */

#developers {
    /* height: 500px; */
    padding: 100px 0 100px 0;
    background: #132337;
    color: #fff;
}

#developers .developer-photo {
    height: 130px;
    width: 130px;
    background: #fff;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#developers .developer-social-media {
    height: 130px;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    transition: .3s;
}

#developers .developer:hover .developer-social-media {
    opacity: 1;
}


#developers .developer-social-media ul {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}

#developers .developer-social-media ul li {
    display: inline;
}

#developers .developer-social-media ul a {
    color: #132337;
    transition: .3s;
}

#developers .developer-social-media ul a:hover {
    color: #fff;
}